@model Lab3.Models.MovieGenre

@{
    ViewData["Title"] = "Assign Genre to Movie";
}

<h1>Assign Genre</h1>

<h4>Movie-Genre Relationship</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label class="control-label">Movie</label>
                <select asp-for="MovieId" class="form-control" asp-items="ViewBag.MovieId"></select>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Genre</label>
                <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Assign Genre" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary ml-2">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}