@model Lab3.Models.MovieGenre

@{
    ViewData["Title"] = "Movie-Genre Details";
}

<h1>Movie-Genre Association</h1>

<div class="details-container">
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Movie Title
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class="col-sm-2">
            Genre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>
        <dt class="col-sm-2">
            Association ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>

<div class="action-links mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
</div>
